*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.1s linear;
}
body{
    height: fit-content;
    font-family: 'Jost', sans-serif;
}
li{
    list-style-type: none;
    display: inline-block;
}
a{
    display: inline-block;
    text-decoration: none;
}
button{
    border: none;
}
.container{
    width: 86%;
    margin: auto;
}
.place-1{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
}
.place-1 .link_1{
    height: 20px;
}
.place-1 .link_1 a{
    position: relative;
    height: 100%;
    padding: 0 10px;
    font-size: 14px;
    color:#292621;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.place-1 div a:hover{
    color: #3B5A24;
    transform: scale(1.1);
}
.place-1 a::before,.place-1 a::after{
    content: "";
    width: 2px;
    height: 0;
    background: #3B5A24;
    position: absolute;
    transition: .5s;
}
.place-1 a::before{
    left: 0;
    bottom: 0;  
}
.place-1 a::after{
    right: 0;
    top: 0;  
}
.place-1 a:hover::before,.place-1 a:hover::after{
    height: 100%;
}
.i-1:hover i{
    color: #3B5A24;
    transform: rotateY(180deg);
}
/* place-2 */
.place-2{
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
}
.place-2 a{
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #16161a;
}
.place-2 a:hover{
    color: #3B5A24;
}
.place-2 .center-place .link-center{
    position: relative;
    font-family: 'Raleway', sans-serif;
}
.place-2 .center-place .link-center::after,.place-2 .center-place .link-center::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-color: #3B5A24;
    border-style: solid;
    visibility: hidden;
    opacity: 0;
}
.place-2 .center-place .link-center::after{
    width: 97%;
    height: 95%;
    border-width: 1.5px 0px;
    transition: 0.5s;
    transform: scale(0,1);
    transform-origin: left;
}
.place-2 .center-place .link-center:hover::after,.place-2 .center-place .link-center:hover::before{
    visibility: visible;
    opacity: 1;
    transform: scale(1,1);
}
.place-2 .center-place .link-center::before{
    width: 94%;
    height: 100%;
    border-width: 0px 1.5px;
    transition: 0.3s;
    transform: scale(1,0);
    transform-origin: bottom;
}
.place-2 .main-menue{
    position: relative;
    z-index: 5;
    font-family: 'Raleway', sans-serif;
}
.place-2 .main-menue .angle{ 
    padding-left: 5px;
    font-size: 14px;
}
.content{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #3B5A24;
    display: flex;
    align-items: center;
}

.left-area{
    width: 120px;
}
.left-area span{
    font-family:'Great Vibes';
    font-size: 20px;
    color: #4B8B4A;
}
.left-area .cam{
    font-size: 30px;
    color: #fff;
    line-height: 35px;
    margin-left: 2px;
}
.place-2 .main-menue .center-2-menue{
    width: 280px;
    padding: 15px;
    box-shadow: 1px 1px 2px #00000070,-1px -1px 2px #00000070;
    display: flex;
    background: #fff;
    justify-content: space-between;
    position: absolute;
    z-index: 5;
    top: 50px;
    left: -100%;
    border-radius: 10px;
    transition: 1s;
    visibility: hidden;
    opacity: 0;
    transform: scale(0,1);
}
.place-2 .main-menue:hover .center-2-menue{
    visibility: visible;
    opacity: 1;
    transform: scale(1,1);
}
.place-2 .center-2-menue li{
    display: block;
    margin:5px 0;
}
.place-2 .center-2-menue .center-links{
    width: fit-content;
    height: 30px;
    margin-bottom: 10px;
    font-weight:300;
    border-bottom: 1px dotted #16161a;
}
.place-2 .center-2-menue li a{
    padding: 0;
}
.place-2 .center-2-menue li .center-links-menue:hover{
    transform: scale(1.2,1.1);
}
.right-place .bag{
    position: relative;
}
.right-place .bag::after{
    content: "2";
    width: 20px;
    height: 20px;
    background: #3B5A24;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    transition: 0.5s;
    left: 13px;
    top: -3px;
}
.right-place .bag:hover::after{
    top: -10px;
}
.place-3{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D8E4D1;
    background-color: #16161a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}
.place-3 .a-first{
    color: #5B7F62;
    height: 25px;
    border-bottom: 2px solid #5B7F62;
}
.place-3 a:hover{
    letter-spacing: 2px;
}
.place-3 .close{
    color: #D8E4D1;
    position: absolute; 
    right: 15px; 
    top: 50%;
    transform: translateY(-50%); 
    cursor: pointer;
}
.place-3 .close:hover {
    color: #5B7F62;
}
.main-background{
    width: 100%;
    height: 90vh;
    background: url(../Images/wallhaven-ne6zv8_1920x1080.png) no-repeat ;
    background-size: cover;
    position: relative;
}

.main-background .main-text{
    position: absolute;
    width: 500px;
    text-align: center;
    top: 20%;
    left: 10%;
}
.main-background span{
    color: #4B8B4A;
    font-family:'Great Vibes';
    font-size: 50px;
}
.main-background h1{
    padding: 0 10px;
    font-size: 48px;
    color: #D8E4D1;
}
.main-background p{
    width: 450px;
    font-size: 18px;
    margin:15px auto 30px;
    padding: 0px 20px;
    color: #74706B;
}
.main-background a{
    background: #3B5A24;
    color: #fff;
    font-size: 20px;
    padding: 15px 25px;
    border-radius: 10px 5px;
    transition: 0.5s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main-background a:hover{
    color: #16161a;
    background-color: #fff;
    border: 1px solid #16161a;
    transform: scale(1.1);
}
/* End OF main */
.type-product{
    display: flex;
    font-family: "Playfair Display", serif;
    justify-content: space-between;
    flex-wrap: wrap;
}
.type-product > .product-1{
    width: 350px;
    height: 350px;
    margin: 50px 0;
    overflow: hidden;
    position: relative;
    border-radius: 12px 5px;
}
.type-product > .product-1::after{
    content: "";
    width: 100%;
    height: 30%;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top,#282828f9,#11111105);
    position: absolute;
    z-index: 1;
}
.type-product .product-1 img{
    width: 100%;
    height: 100%;
    transition: 1s;
}
.type-product .product-1:hover img{
    transform: scale(1.1,1.1);
}
.type-product  .product-1 .product{
    width: 100%;
    height: 30%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    transform: translateY(45px);
    transition: 1s;
}
.type-product  .product-1:hover .product{
    transform: translateY(0px);
}
.type-product  .product-1 .product h2{
    color: #fff;
    margin: 15px 0 20px;
}
.type-product  .product-1 .product a{
    color: #4B8B4A;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom: 2px solid #4B8B4A;
}
.type-product  .product-1 .product a:hover{
    letter-spacing: 2px;
}
/* End Of Section 2 */
.section-two{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.Best-place{
    margin-top: 70px;
    position: relative;
}
.Best-place .the-Best{
    min-height: 50px;
    border-bottom: 1px solid #16161a70;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.Best-place .the-Best a{
    height: 65px;
    margin-left: 25px;
    color: #292621;
    font-size: 20px;
}
.Best-place .the-Best .link-select{
    color: #3B5A24;
    border-bottom: 5px solid #3B5A24;
}
.Best-type > a:hover {
    color: #3B5A24;
    transform: scaleX(1.1);
    border-bottom: 5px solid #3B5A24;
}
.Best-place .Best-product{
    display: flex;
    justify-content: space-between;
}
.Best-place .Best-product div{
    width: 24%;
    height: 450px;
    margin-top: 50px;
    text-align: center;
    position: relative;
    perspective: 1000px;
}
.Best-place .Best-product div img{
    width: 100%;
    height: 75%;
}
.Best-place .Best-product div a{
    padding: 10px 0;
    font-size: 20px;
    color: #16161a;
}
.Best-place .Best-product div:hover a{
    color: #3B5A24;
}
.Best-place .Best-product div p{
    color: #16161a;
    opacity: 0.8;
    font-size: 18px;
}
.Best-place .Best-product div:hover p{
    opacity: 1;
}
.Best-place .Best-product div:hover p span{
    opacity: 0.7;
}
.Best-place .Best-product div p span{
    text-decoration: line-through;
    margin-left: 10px;
}
.Best-place .Best-product div .icon{
    width: 60%;
    height: 10%;
    display: flex;
    position: absolute;
    left: 20%;
    bottom: 30%;
    z-index: 10;
    gap: 10px;
}
.Best-place .Best-product div .icon a{
    color: #16161a;
    width: calc(100% / 3);
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 28px;
    opacity: 0;
    visibility: hidden;
    border-radius: 50%;
    transition: 1s;
    transform: translateY(20%);
}
.Best-place .Best-product div:hover .icon a{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.Best-place .Best-product div .icon a:hover{
    transform: translateY(-10px);
    background: #3B5A24;
    color: #fff;
}
.Best-place .Best-product > div::after{
    transform-style: preserve-3d;
    content: "";
    width: 100%;
    height: 75%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: url(../images/back_back.png);
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: 1s;
}
.Best-place .Best-product > div:hover::after{
    transform: rotateY(0deg);
}
.Best-place > a{
    position: absolute;
    font-size: 30px;
    opacity: 0.7;
    color: #16161a;
}
.Best-place > a:hover{
    color: #4B8B4A;
    opacity: 1;
}
.Best-place .left , .right{
    top: 50%;
}
.Best-place .left {
    left: -30px;
}
.Best-place .right{
    right: -30px;
}
.Best-place .left:hover, .Best-place .right:hover{
    transform: scaleX(1.5);
}
/* End of section 2 */

.back-container {
    background-image: url("../Images/pexels-didsss-5739358.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 400px;
    border-radius: 10px;
    position: relative;
    /* padding: 100px 0; */
    margin: 40px 0;
    overflow: hidden;
}
.back-info-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-perant {
    width: 80%;
    max-width: 900px;
    text-align: center;
}
.customer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 25px; 
}
.customer h2 {
    font-size: 34px;
    color: #D8E4D1;
    font-style: italic;
    margin: 0;
}
.customer p {
    width: 80%;
    max-width: 700px;
    font-size: 20px;
    line-height: 1.6;
    color: #A6BBA0;
    margin: 0 auto;
}
.customer-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.customer-info img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #D8E4D1;
}
.name-customer h4 {
    color: #D8E4D1;
    font-size: 18px;
    margin-bottom: 4px;
}
.name-customer p {
    color: #A6BBA0;
    font-weight: 500;
    font-size: 14px;
}
.customer > a {
    position: absolute;
    font-size: 30px;
    opacity: 0.7;
    color: #D8E4D1;
    transition: opacity 0.3s;
}
.customer > a:hover {
    opacity: 1;
    color: #4B8B4A;
}
.customer .left {
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}
.customer .right {
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}
/* end of customer op */
.section-four{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.modern-title, .modern-title2{
    font-size: 35px;
    font-weight: bold;
    color: #222;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
}
.modern-title{
    padding-left: 70px;
}
.modern-title::before,.modern-title2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 60px;
  height: 3px;
  background: linear-gradient(90deg, #3B5A24,#A6BBA0);
  transform: translateY(-50%);
  border-radius: 5px;
}
.like-place .Best-product > div{
    overflow: hidden;
}
.like-place .Best-product > div::after{
    background: url(../images/back_back.png);
    background-size: cover;
    background-position: center;
    transform: translateY(-75%);
    opacity: 0;
    visibility: hidden; 
}
.Best-place .Best-product > div:hover::after{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

/* End Of section four */

.section-five{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("../Images/pexels-pixabay-36478.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.home-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.section-five .modern-title2{
    color: #67bc66;
    padding: 30px 0;
    padding-left: 190px;
}
.modern-title2::before {
    margin-left: 120px;
}
.latest-news {
    display: flex;
    justify-content: center; 
    align-items: center;      
    gap: 60px;
    height: 76vh;
}

.latest-news > div {
    width: 300px;
    background: rgba(255, 255, 255, 0.08); 
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(6px); 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: 0.4s;
}

.latest-news > div:hover {
    transform: translateY(-8px);
}

.latest-news > div img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}

.latest-news > div span,
.latest-news > div a,
.latest-news > div p {
    padding: 0 15px;
}

.latest-news > div span {
    display: block;
    color: #b5b5b5;
    padding-top: 15px;
}
.latest-news > div a {
    color: #fff;
    font-size: 20px;
    margin: 10px 0;
    display: block;
    text-decoration: none;
    transition: 0.3s;
}
.latest-news > div:hover a:not(.more) {
    color:#4B8B4A; 
}

.latest-news > div p {
    color: #ccc;
    font-size: 16px;
    margin-bottom: 20px;
}
.latest-news > div .more {
    color: #fff;
    text-decoration: underline;
    padding: 0 15px 20px;
    display: inline-block;
    transition: 0.3s;
}
.latest-news > div .more:hover {
    color: #4B8B4A;
    transform: scale(1.1);
}
/* End Of section five */

.section-six {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 80px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.advantage {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 100px; 
    text-align: center;
    flex-wrap: wrap; 
}
.advantage > div {
    transition: all 0.5s ease;
}
.advantage div > div {
    width: 100%;
    height: 60px;
    overflow: hidden;
    position: relative;
}
.advantage div > div i {
    font-size: 48px;
    margin-bottom: 30px;
    color: #67bc66dd;
    width: 100%;
    transition: transform 0.5s ease;
}
.advantage div div .icon {
    position: absolute;
    top: 0;
    left: 0;
    color:#3B5A24;
    transform: translateY(65px);
    transition: transform 0.5s ease;
}
.advantage div:hover div .icon {
    transform: translateY(0);
}
.advantage div:hover > div i {
    transform: translateY(-50px);
}
.advantage h3 {
    color: #3B5A24;
    margin-top: 15px;
    font-size: 20px;
}
.advantage p {
    margin-top: 10px;
    color: #16161a;
    font-size: 15px;
}
/* End Of section 6 */

.footer{
    width: 100%;
    min-height: 500px;
    margin-top: 70px;
    background: #222222;
    font-family: 'Raleway', sans-serif;
}
.footer-place{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.footer-place > div{
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-place .footer-place-1{
    width: 100%;
    min-height: 120px;
    align-items: center;
    border-bottom: 1px solid #f2fffe60;
}
.footer-place .footer-place-1 div p{
    padding-top: 15px;
}
.footer-place .footer-place-1 div input{
    width: 350px;
    height: 50px;
    border: 0;
    padding-left: 10px;
    font-size: 17px;
    border-radius: 2px;
}
.footer-place .footer-place-1 .send-email{
    display: flex;
}
.footer-place .footer-place-1 div .join{
    color: #fff;
    width: 150px;
    height: 50px;
    margin-left: 10px;
    background: #4B8B4A;
    font-size: 22px;
    line-height: 50px;
    border-radius: 10px 5px;
    text-align: center;
    transition: 1s;
}
.footer-place .footer-place-1 div .join:hover{
    color: #4B8B4A;
    background-color: #fff;
}
.footer-place .footer-place-1 div input:focus{
    outline: none;
}
.footer-place .footer-place-1 div a{
    color: #677F8B;
    font-size: 24px;
    margin-left: 10px;
}
.footer-place .footer-place-1 div a:hover{
    color: #4B8B4A;
    transform: scale(1.1);
}
.footer-place .footer-place-2{
    width: 100%;
    min-height: 300px;
    margin-top: 50px;
    border-bottom: 1px solid #f2fffe60;
}
.footer-place .footer-place-2 a{
    display: block;
    color: #BBB9B5;
    margin-bottom: 10px;
    transition: 0.5s;
}
.footer-place .footer-place-2 a:hover{
    transform: scale(1.1);
    color: #fff;
}
.footer-place .footer-place-2 h3{
    margin-bottom: 25px;
}
.footer-place .footer-place-2 img{
    width: 20%;
    height: 20%;
}
.footer-place .footer-place-3{
    width: 100%;
    min-height: 50px;
    justify-content: center;

}
.footer-place .footer-place-3 p{
    color: #BBB9B5;
}
.footer-place .footer-place-3 p span,.footer-place .footer-place-3 p a{
    color: #4B8B4A;
    padding: 0 2px;
}
.footer-place .footer-place-3 p a:hover{
    transform: scale(1.1);
}
.footer-place .footer-place-3 p span i {
    animation: camAnimation .4s linear infinite alternate;
}
@keyframes camAnimation{
    0%{
        color: #4d4d4d;
        transform: scale(.5);
    }
    100%{
        color: #4B8B4A;
        transform: scale(1.3);
    }
}
/* End of the Fotter */
